.config_title{
    font-size: 18px;
    font-weight: medium;
    margin-bottom: 20px;
}

.config_control{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.config_control > label{
    font-size: 14px;
    font-weight: medium;
    text-transform: capitalize;
}

.update_button{
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
}

.button_group {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.cancel_button {
    background-color: transparent;
    border: 1px solid var(--vscode-button-background);
    color: var(--vscode-button-background);
}