.run_flowsheet_section{
    width:100%;
}
.run_flowsheet_button_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.run_flowsheet_button{
    /* flex: 1; */
    width:90%;
    background-color: var(--vscode-editor-foreground, #fff);
    color: var(--vscode-editor-background, #000);
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}

.run_flowsheet_animation_container{
  display:flex;
  flex-direction: row;
  margin-top: 20px;
  gap:10px;
}

.running_time_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.running_timer_container_hidden {
    display: none;
}

.running_time_label {
    font-weight: bold;
}

.running_dots {
    display: inline-block;
    width: 15px;
    text-align: left;
}

.running_time {
    font-weight: bold;
}

.cancel_flowsheet_run_btn {
    width:90%;
    background-color: var(--vscode-editorError-foreground, #f14c4c);
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
}

.cancel_flowsheet_run_btn_hidden {
    display: none;
}

.error_banner {
    margin-top: 15px;
    padding: 10px;
    background-color: var(--vscode-inputValidation-errorBackground, rgba(255, 0, 0, 0.1));
    border: 1px solid var(--vscode-inputValidation-errorBorder, red);
    color: var(--vscode-errorForeground, red);
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}

.error_banner:hover {
    background-color: var(--vscode-list-errorBackground, rgba(255, 0, 0, 0.2));
}